<div class="container">
    <h1>50 Angular Components</h1>
    <nav>
        <a routerLink="">Display Hello World</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="showhellobutton">Show Hello Button</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="displayname">Display Name</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="counter">Counter</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="simpleform">Simple Form</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="userage">User Age</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="usergreeting">User Greeting</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="calculator">Calculator</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="textlength">Text Length</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="currencyconverter">Currency Converter</a><br><br>
        <a routerLink="evenoddchecker">Even Odd Checker</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="wordreverser">Word Reverser</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="showdate">Show Date</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="showusername">Show Username</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="multiplicationtable">Multiplication Table</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="simplelogin">Simple Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="fahrenheittocelsius">Fahrenheit To Celsius</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="bookmarklist">Book Marklist</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="charactercounter">Character Counter</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="palindromechecker">Palindrome Checker</a><br><br>
        <a routerLink="temperatureconverter">Temperature Converter</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="shoppinglist">Shopping List</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="factorialcalculator">Factorial Calculator</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="todomanager">Todo Manager</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="guessnumbergame">Guess Number Game</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="wordcounter">Word Counter</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="randomnumbergenerator">Random Number Generator</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="multiplicationchecker">Multiplication Checker</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="uppercaseconverter">Uppercase Converter</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="wordshuffler">Word Shuffler</a><br><br>
        <a routerLink="bmisolver">BMI Solver</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="validateusername">Validate Username</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="interestcalculator">Interest Calculator</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="compoundinterestcalculator">Compound Interest Calculator</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="fibonaccigenerator">Fibonacci Generator</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="oddsumcalculator">Odd Sum Calculator</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="currencyformatter">Currency Formatter</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="randomquotedisplay">Random Quote Display</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="uppercasegreeting">Uppercase Greeting</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="divisiblechecker">Divisible Checker</a><br><br>
        <a routerLink="SimpleStopwatch">Simple Stopwatch</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="PrimeNumberChecker">Prime Number Checker</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="LeapYearChecker">Leap Year Checker</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="PasswordStrengthChecker">Password Strength Checker</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="AgeCalculator">Age Calculator</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="colorselector">Color Selector</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="ArrayReverser">Array Reverser</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="AnagramChecker">Anagram Checker</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="shapeselector">Shape Selector</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="VowelCounter">Vowel Counter</a><br><br>
    </nav>
    <hr>
    <h1>50 Angular Components Output:</h1>
    <router-outlet></router-outlet>
  </div>